body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1248px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:241px;
  top:183px;
  width:300px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:97px;
  top:187px;
  width:127px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:97px;
  top:281px;
  width:395px;
  height:101px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u6 {
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u8 {
  position:absolute;
  left:260px;
  top:0px;
  width:130px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u10 {
  position:absolute;
  left:0px;
  top:30px;
  width:130px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u12 {
  position:absolute;
  left:130px;
  top:30px;
  width:130px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u14 {
  position:absolute;
  left:260px;
  top:30px;
  width:130px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:66px;
  width:130px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u18 {
  position:absolute;
  left:130px;
  top:66px;
  width:130px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u20 {
  position:absolute;
  left:260px;
  top:66px;
  width:130px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:173px;
  top:242px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u24 {
  position:absolute;
  left:919px;
  top:156px;
  width:329px;
  height:207px;
}
#u25 {
  position:absolute;
  left:10px;
  top:10px;
  width:309px;
  word-wrap:break-word;
}
